  <nav>
    <ul>
      <li><%= link_to "JCLibrary", root_path %></li>
      <li><a href="#catalog">Catalog</a></li>
      <li><a href="#how-to">How To</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><%= link_to "Donators", donators_path %></li>
    </ul>
  </nav>
